{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "console": true,
    "document": true,
    "expect": true,
    "fetch": true,
    "navigator": true,
    "process": true,
    "test": true,
    "URL": true,
    "window": true
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": 2,
    "@typescript-eslint/member-delimiter-style": [2, {
      "multiline": {
        "delimiter": "none",
        "requireLast": false
      },
      "singleline": {
        "delimiter": "comma",
        "requireLast": false
      }
    }],
    "@typescript-eslint/no-explicit-any": 2,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/semi": [2, "never"],
    "@typescript-eslint/type-annotation-spacing": 2,
    "arrow-parens": [2, "as-needed"],
    "arrow-spacing": 2,
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "comma-spacing": 2,
    "indent": [2, 2],
    "jsx-quotes": [2, "prefer-double"],
    "max-len": [2, { "code": 120 }],
    "no-multi-spaces": 2,
    "object-curly-spacing": [2, "always"],
    "prefer-arrow-callback": 2,
    "quotes": [2, "single"],
    "react/prop-types": [0],
    "semi": [2, "never"],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, "never"]
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": 0
      }
    }
  ]
}
