.rules-container {
  max-width: 80vw;
  margin: 2rem auto;
  border: 2px dashed var(--grey);
  padding: 2rem;
  border-radius: 12px;
}

.rules-container .btn {
  display: inline-block;
}

.rules-container .btn.right {
  float: right;
  font-size: 1.5rem;
  padding: 0 1rem;
}
