a {
  text-decoration: none;
  color: var(--blue);
}

.find-card-wrapper {
  text-align: center;
}

.input {
  padding: 0.5rem 1rem;
  border: 2px dashed var(--grey);
  border-radius: 4px;
  font-size: 1rem;
  font-family: inherit;
}

.find-card-wrapper .btn {
  display: inline-block;
}

.find-card-wrapper input {
  margin: 1rem;
}

.container.spy-master {
  flex-direction: column;
  min-height: 80vh;
}

.card-container {
  display: flex;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 3.5rem;
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 2.5rem;
  }
}


@media only screen and (max-width: 525px) {
  .title {
    font-size: 2rem;
  }
}
