.container {
  align-items: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  width: 100%;
}

.inner-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  grid-template-rows: 250px 250px 250px 250px;
}

.side-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: stretch;
  margin: 1rem 0;
}

.side-wrapper .teams-summary {
  flex: 1 1 auto;
}

.badge {
  align-items: center;
  background: var(--background);
  border-radius: 50%;
  display: inline-flex;
  font-size: 1rem;
  justify-content: center;
  margin: 0.3rem;
  color: #000;
  width: 1.5rem;
  height: 1.5rem;
}

.badge.has-total {
  width: auto;
  border-radius: 6px;
  height: auto;
  padding: .2rem;
}

.btn {
  border-radius: 6px;
  border: 2px solid #000;
  color: initial;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: inherit;
}

.btn:hover {
  background-color: var(--green-light);
  border-color: var(--green);
  color: white;
}

.btn.blue {
  border-color: var(--blue-light);
}

.btn.blue:hover {
  background-color: var(--blue-light);
  border-color: var(--blue);
}

.btn.green {
  border-color: var(--green-light);
}

.btn.green:hover {
  background-color: var(--green-light);
  border-color: var(--green);
}

button.link {
  color: var(--blue);
}

button.link:hover {
  text-decoration: underline;
}

button.no-style, button.link {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

@media only screen and (max-height: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px 220px;
    grid-template-rows: 220px 220px 220px 220px;
  }
}

@media only screen and (max-height: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 25vh 25vh 25vh 25vh 25vh;
    grid-template-rows: 25vh 25vh 25vh 25vh;
  }
}

@media only screen and (max-width: 1300px) {
  .grid {
    display: grid;
    grid-template-columns: 16vw 16vw 16vw 16vw 16vw;
    grid-template-rows: 16vw 16vw 16vw 16vw;
  }
}
