.container {
  align-items: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  width: 100%;
}

.inner-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.side-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: stretch;
  margin: 0.5rem 0;

  .teams-summary {
    flex: 1 1 auto;
  }
}
