.container {
  align-items: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  grid-template-rows: 250px 250px 250px 250px;
}

.side-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 970px;
}

.side-wrapper .team-blue {
  color: rgba(0, 149, 255, 1);
}

.side-wrapper .team-red {
  color: rgba(255, 0, 0, 1);
}

.side-wrapper .teams-title {
  text-decoration: underline;
  text-align: center;
}

.side-wrapper .names {
  list-style: none;
  text-align: center;
  padding: 0;
  font-weight: 500;
}

.btn {
  border-radius: 6px;
  border: 2px solid #00af35;
  color: initial;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
  background-color: #00af35;
  border-color: #019c30;
  color: white;
}

.btn.blue {
  border-color: #30a4ff;
}

.btn.blue:hover {
  background-color: #30a4ff;
  border-color: #058cf7;
}

.btn.purple {
  border-color: #d54ffb;
}

.btn.purple:hover {
  background-color: #c21df1;
  border-color: #d54ffb;
}

@media only screen and (max-height: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px 220px;
    grid-template-rows: 220px 220px 220px 220px;
  }

  .side-wrapper {
    height: 850px;
  }
}

@media only screen and (max-height: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 25vh 25vh 25vh 25vh 25vh;
    grid-template-rows: 25vh 25vh 25vh 25vh;
  }

  .side-wrapper {
    height: calc(4 * 25vh - 2rem);
  }
}

@media only screen and (max-width: 1300px) {
  .grid {
    display: grid;
    grid-template-columns: 16vw 16vw 16vw 16vw 16vw;
    grid-template-rows: 16vw 16vw 16vw 16vw;
  }

  .side-wrapper {
    height: calc(4 * 16vw - 2rem);
  }
}
