.CardGrid {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  grid-template-rows: 250px 250px 250px 250px;

  @media only screen and (max-height: 1000px) {
    grid-template-columns: 220px 220px 220px 220px 220px;
    grid-template-rows: 220px 220px 220px 220px;
  }

  @media only screen and (max-height: 800px) {
    grid-template-columns: 25vh 25vh 25vh 25vh 25vh;
    grid-template-rows: 25vh 25vh 25vh 25vh;
  }

  @media only screen and (max-width: 1300px) {
    grid-template-columns: 16vw 16vw 16vw 16vw 16vw;
    grid-template-rows: 16vw 16vw 16vw 16vw;
  }
}
