.card {
  border: 1px solid;
  cursor: pointer;
  margin: 1rem;
  position: relative;
  border-radius: 12px;
}

.badge.card-id {
  left: 0;
  position: absolute;
  top: 0;
  height: 15%;
  width: 15%;
  border-radius: 8px;
  padding: 4px 3px 0 3px;
}

.card-img {
  width: 100%;
  border-radius: 12px;
}

.card-img.expanded {
  border: 2px solid;
  left: -50%;
  position: absolute;
  top: -50%;
  width: 200%;
  z-index: 2;
}

.context-menu {
  background-color: white;
  border: 2px solid #000;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  left: 20%;
  top: 20%;
  width: 100%;
}

.context-menu .menu-action {
  border-bottom: 1px dashed;
  margin: 0;
  padding: .7rem 1rem;
}

.context-menu .menu-action:last-of-type {
  border-bottom: none;
}

.context-menu .menu-action:not(.neutral):hover {
  color: white;
  cursor: pointer;
  border-color: black;
}

.overlay {
  border: 4px solid;
  height: 210px;
  left: 0;
  position: absolute;
  top: 0;
  width: 210px;
  border-radius: 12px;
}

.overlay.red {
  background-color: var(--red-extra-light);
  border-color: var(--red);
}

.overlay.blue {
  background-color: var(--blue-extra-light);
  border-color: var(--blue);
}

.overlay.neutral {
  background-color: var(--yellow-extra-light);
  border-color: var(--yellow);
}

.overlay.black {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgb(0, 0, 0);
}

.menu-action.red:hover {
  background-color: var(--red-light);
}

.menu-action.blue:hover {
  background-color: var(--blue-light);
}

.menu-action.neutral:hover {
  background-color: var(--yellow-light);
}

.menu-action.black:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-height: 1000px) {
  .overlay {
    height: 180px;
    width: 180px;
  }
}
