.menu {
  border-radius: 6px;
  border: 2px solid var(--green-light);
  min-width: 120px;
}

.menu-content {
  display: none;
}

.menu.expanded .menu-content {
  display: block;
}

.menu-item > *,
.menu-trigger {
  display: block;
  color: initial;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.menu-trigger {
  text-align: center;
}

.menu-item {
  display: block;
  border-bottom: 2px solid var(--green);
  color: initial;
}

.menu-item > *:hover,
.menu-trigger > *:hover {
  background-color: var(--green-light);
  border-color: var(--green);
  color: white;
}

.menu-trigger::after {
  content: "⋀";
  margin-left: .3rem;
}

.menu.expanded .menu-trigger::after {
  content: "⋁";
}
