.teams-wrapper .team {
    flex: 1;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams-wrapper .input {
    display: block;
    margin-bottom: 1rem;
}

.teams-wrapper .team-title {
    margin-top: 0;
    display: flex;
    align-items: center;
}

.teams-wrapper .team-blue .team-title {
    color: var(--blue-light)
}

.teams-wrapper .team-red .team-title {
    color: var(--red-light)
}

.teams-wrapper .team .team-title .starting-team {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-left: .5rem;
    cursor: pointer;
    opacity: 0.7;
}

.teams-wrapper .team .team-title .starting-team.active {
    opacity: 1;
}

.teams-wrapper .team-red .team-title .starting-team {
    background-color: var(--red);
}

.teams-wrapper .team-blue .team-title .starting-team {
    background-color: var(--blue);
}

.teams-wrapper .team-red .team-title .starting-team.active {
    box-shadow: 0px 0px 7px 0px var(--red);
}

.teams-wrapper .team-blue .team-title .starting-team.active {
    box-shadow: 0px 0px 7px 0px var(--blue);
}

.player-wrap {
    position: relative;
}

.teams-wrapper form {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
}

.teams-wrapper .players {
    flex: 1 1 auto;
    max-height: 200px;
    margin-bottom: 1rem;
    border-bottom: 2px dashed;
    overflow: scroll;
}

.remove-player {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
    background: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;
}
