.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1040;
  background: rgba(88, 88, 88, 0.7);;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 900px;
  height: 80vh;
  background: var(--background);
  border-radius: 12px;
  border: 3px solid;
  position: relative;
  padding: 3rem;
  box-sizing: border-box;
}

.modal-content .button-wrapper {
  display: flex;
  justify-content: center;
}

.close-modal {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: inherit;
}

.modal-title {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 0;
}

.teams-wrapper {
  display: flex;
  flex: 1 1 auto;
}

.teams-wrapper:last-child {
  border-left: 2px dashed;
}

@media only screen and (max-width: 1100px) {
  .modal-content {
    width: 80vw;
  }
}
