.TeamsModal {
  .button-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .teams-wrapper {
    display: flex;
    flex: 1 1 auto;
  }
}
