.teams-wrapper .team {
    flex: 1;
    padding: 0 2rem;
}

.teams-wrapper .input {
    display: block;
    margin-bottom: 1rem;
}

.teams-wrapper .team-title {
    margin-top: 0;
}

.teams-wrapper .team-blue .team-title {
    color: var(--blue-light)
}

.teams-wrapper .team-red .team-title {
    color: var(--red-light)
}

.teams-wrapper hr {
    border-style: dashed;
}

.player-wrap {
    position: relative;
}

.remove-player {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
    background: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
}
