.team-names .names {
    list-style: none;
    text-align: left;
    padding: 0;
}

.team-names .team-score {
    text-align: center;
}

.team-names.team-red .teams-title {
    color: var(--red-light);
}

.team-names.team-blue .teams-title {
    color: var(--blue-light);
}

